.form {
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.input {
  padding: 5px;
  border-radius: 7px;
}

.button {
  border: none;
  padding: 10px 30px;

  border-radius: 7px;

  cursor: pointer;
}

.button__green {
  background-color: #4fd76f;
  color: #fff;
}

.button__red {
  background-color: #d74f4f;
  color: #fff;
}

.form a {
  font-size: 14px;
}

/* profile */
.profile {
  padding: 20px;

  display: flex;
  justify-content: flex-end;
}
